<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>289978390831-e6802jg49luffmiq91mmprv0moi7p893.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289978390831-e6802jg49luffmiq91mmprv0moi7p893</string>
	<key>API_KEY</key>
	<string>AIzaSyBoBsTtZUtMBBwQckWD49Lw2_rlQ3e7pz4</string>
	<key>GCM_SENDER_ID</key>
	<string>289978390831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>finalme-70f25</string>
	<key>STORAGE_BUCKET</key>
	<string>finalme-70f25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289978390831:ios:9e56b38aad4cedd88ca9da</string>
</dict>
</plist>